.footer {
  background-color: #f5f5f7;
  padding-top: 0;
}

.footer__container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas:
    'logo social contact'
    'copyright . developer';

  border-top: 1px solid #d2d2d7;
  padding-top: 40px;
  gap: 40px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__item {
  display: flex;
  align-items: flex-start;
}

.footer__link > svg {
  display: flex;

  width: 36px;
  height: 36px;

  transition: all 0.3s ease-in-out;
}

.footer__social > li > a > svg:hover {
  fill: var(--color-primary-light);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link-contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__logo {
  grid-area: logo;

  align-self: baseline;
}

.footer__social {
  grid-area: social;

  flex-direction: row;
  justify-self: center;
  align-self: flex-start;
  gap: 24px;
}

.footer__contact {
  grid-area: contact;

  gap: 16px;
}

.footer__copyright {
  grid-area: copyright;

  display: flex;
  align-self: flex-end;

  margin: 0;
}

.footer__developer {
  grid-area: developer;

  gap: 8px;
}

/* MEDIA */

@media (max-width: 1240px) {
}

@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: max-content max-content;
    grid-template-areas:
      'logo social'
      '. contact'
      'copyright developer';

    justify-content: space-between;

    gap: 25px;
  }

  .footer__social,
  .footer__contact {
    justify-self: flex-start;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'social'
      'contact'
      'developer'
      'copyright';

    justify-items: center;

    padding-top: 25px;
  }

  .footer__social,
  .footer__contact {
    justify-self: center;
  }
}
