.header {
  padding: 18px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  max-width: 260px;
}

.header__button {
  padding: 18px 40px;

  color: var(--color-dark-3xl);
  background-color: transparent;

  border: 1px solid var(--color-primary-light);
  border-radius: 24px;

  text-transform: uppercase;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.header__button:hover {
  color: var(--color-light-xl);

  background-color: var(--color-primary-light);
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  font-weight: 500;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: var(--color-primary-light);
}
